<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">

</head>
<body>
    <div class="max-w-md mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-4 text-center">Add Todo</h2>
        <form id="todoForm" action="/api/updateTodo/<%= todoL._id %>" method="post" class="space-y-4">
          <!-- Todo Input -->
          <div>
            <label for="todo" class="block text-sm font-medium text-gray-700">Todo Item</label>
            <input type="text" id="todo" value="<%= todoL.todo %>" name="todos" required placeholder="Enter your todo"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" />
          </div>
          <!-- Submit Button -->
          <button type="submit"
            class="w-full inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Update Todo
          </button>
        </form>
      </div>
     
      
</body>
</html>